html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.white{
  width: 100%;
  background-color: white;
}

.centerStatistics {
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.input {
  padding: 5px 15px;
  width: 100%;
}

.statistics {
  margin: auto;
  width: 80%;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
